﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>页面滚动到一定距离时，元素发生变 - DynamicCss Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="jquery.js"></script>
    <script src="avalon.shim.js"></script>
    <script src="avalon.dynamiccss.js"></script>
    <script src="layout.js"></script>
</head>
<body>

    <style>
        html { width: 640px;margin:0 auto; }
        .content-sum {
            display: none;
            position: fixed;
            width:640px;
            top: 0;
            background: #808080;
            height:50px;
            line-height:50px;
            text-align:center;
        }
        .content-full{
            height:9000px;
        }
    </style>
    <style type="text/dynamiccss" ms-controller="layout" ms-dynamiccss>
        .content-sum {
            display:{{layout.doc.scrollTop > 135 ? "block" : "none"}}; /* 这里面可以写 js 代码，可以调用 js 方法，基本无限制 */
        }
    </style>

    <b>往下滚动试试</b>

    <div class="big-box">
        <div class="content-sum">经过不懈的努力取得的结果和别人通过关系取得的结果一样甚至更差，那努力还有什么..</div>
        <h1 class="title">经过不懈的努力取得的结果和别人通过关系取得的结果一样甚至更差，那努力还有什么意义呢？</h1>
        <div class="content-full">
            考研过，失败过，后来也成功过。<br /><br />
            去考研论坛围观过连续7战的奇葩，围观过为了考研抛弃女友、抛弃人际关系奋力一战的汉子，围观过被考研折磨的精神失常的病人，也认识大学玩四年，考研复习两个月既考上985（理工科考研，非文科）院校天赋灵异的奇才（我的一枚奇葩好友）。<br />
            <br />
            所以我想谈这个问题。<br />
            <br />
            <br />
            <br />
            <br />
            <b>一、世界给成功者以宽容，那么谁给失败者以宽容呢？</b><br />
            <br />
            <blockquote>故事，我们喜欢故事，喜欢总结，喜欢简化，也就是减少事情的影响因素。故事严重扭曲了我们对世界的思维反应，在稀有事件上尤其严重。 </blockquote><br />
            <blockquote>
                我们会看到电视是不公平的载体，也是导致人们无视黑天鹅现象的主要原因。<br />
            </blockquote><br />
            <blockquote>
                冒险家，许多冒险家自以为是命运的宠儿，这只是因为冒险家很多，而我们没有听过那些背运的冒险家的故事。<br />
            </blockquote><br />
            <blockquote>我们只赞美那些在历史书中留下名字的人，而忽略了那些我们的书本没有提到的贡献者。我们人类不但肤浅（这一点可能还有救），还非常不公平。</blockquote><br />
            摘抄自 纳西姆·尼古拉斯·塔勒布 的《黑天鹅》<br />
            <br />
            <br />
            所有媒体报道的只有成功者通过不懈努力成功的案例，从来不会去报道失败者的案例，是啊，失败者不值一哂，失败者的经历不值得学习，我们没法“预防”失败。<br />
            <br />
            但我知道的是，失败的人，远比成功的人多，他们没有不努力，但他们失败了。<br />
            <br />
            但你们眼中的成功者、媒体的误导报道，会让自己误以为只要努力了，人人都是马云，人人都是马化腾。够了，醒醒。<br />
            <br />
            你可以举很多成功者努力后成功的案例，我也可以举很多失败者努力后失败的案例。<br />
            <br />
            比如：<br />
            <br />
            <br />
            再比如：<br />
            <br />
            <br />
            <br />
            啊？你说影视剧太扯淡了？<br />
            <br />
            <br />
            <b>这还不是怪你们，永远只是追捧成功者的事迹，媒体永远不会报道失败者的故事，让失败者的故事泯灭在了历史里。</b><br />
            <br />
            <br />
            <b>但真实的同样伟大的失败者们，不会真的在历史里消失。</b><br />
            <br />
            如：<br />
            <br />
            艾德·伍德（Edward D. Wood Jr. ）1924年10月10日出生，1978年12月10日逝世。著名的美国Z级片导演，以拍烂片而著称，因不懈的努力和对电影的执著追求而受到后人的尊敬。<br />
            <br />
            <blockquote>
                有没有曾想过，你是一个没有才华的人。有没有曾想过，你辛苦努力奋斗一辈子，也只是一个微不足道的小人物。有没有那么一件事，不切实际，荒诞不经，没有回报，你却孤注一掷，不管不顾地拼命追求。<br />
                艾德·伍德是一个电影人，他撰写过至少47个剧本，执导了18个影视作品，监制了12部影片，在若干电影里跑过龙套，可以说，与电影沾边的事儿他都做了。电影事业贯穿了他的一生，从出生到死亡，然而在他漫长的电影人生涯里，他没有拍出任何一部值得一提的电影。事实上，我们可以不客气的说艾德·伍德的电影每部都是十足的烂片，他的烂不是孤芳自赏，冷僻小众，而是货真价实的烂，全方位无死角的烂，莫名其妙的对白，简陋的道具，不知所以的剪辑，粗制滥造的画面，烂到令人抓狂。<br />
                <br />
                理所当然，他一事无成，在 54岁那年他穷困潦倒地死在了一位接济他的演员家里。等到他去世两年后，艾德被The Golden Turkey Awards一书评选为烂片之王(worst director ever)，这个称号反而令他声名远播，他那对电影接近偏执的的执著受到后人的尊敬和掌声，今日以电影专业闻名的南加州大学甚至每年都会举行"Ed Wood Film Festival"，而他的事迹，也被一代电影大师，他的后辈蒂姆·伯顿搬上了银幕。
            </blockquote><br />
            原文在这里<br />
            <br />
            <a href="http://zhuanlan.zhihu.com/zhimovie/19774832" class="internal">《ED WOOD》为什么不在你的一生中，拍摄一个人的梦想呢？ - 知影 - 知乎专栏</a><br />
            <br />
            <br />
            再如：<br />
            <br />
            话说... 英国有一个乳腺癌患者，2010年被诊断.... 经过了4年的抗争...最近终于根治... 她拿出了当时在医院里做的“癌症治好之后的心愿清单” 开始一项一项实现自己的愿望... 在实现第一项海滩上骑马的心愿时..... 坠马扭断了脖子身亡........ 真是个悲伤的故事.......（@英国那些事儿） <br />
            <br />
            有图有真相<br />
            <br />
            <br />
            真想问问诸位，这位女士没有努力吗？那为什么人生未有给她该有的回报？<br />
            <br />
            极端一点，如果她没有在沙滩上身亡，恐怕是连上条新闻的资格都没有了。<br />
            <br />
            如果梵高身后没人坚持不懈的帮他宣传呢？现在还有人认识梵高吗？不过是个为妓女割了耳朵的疯子吧。<br />
            <br />
            那历史上更多的数不尽的梵高们呢？<br />
            <br />
            <br />
            <br />
            <b>没错，人生就是这么残酷。</b><br />
            <br />
            <br />
            <br />
            而作为成年人该有这个义务把人生的残酷之处，告知年轻人。<br />
            <br />
            你努力了，不一定成功，你坚持不懈的努力了。<br />
            <br />
            哪怕你非常努力。<br />
            <br />
            最后的最后，可能只是变成了一个笑话。<br />
            <br />
            如果年轻人们努力了，挥拳了，咬紧牙关了，最后还是失败了，你是告诉他你还不够努力，继续坚持，你会成功的。<br />
            <br />
            还是简单的告诉他，这次你运气不够好，没抓到黑天鹅。但你继续努力，也不一定抓得到黑天鹅，你可以选择继续，或者放弃。选择权在你自己。<br />
            <br />
            我想我会选择后者，因为后者更接近真实。选择用谎言继续生活，不如用真实拆穿生活，接受生活的真实本身，才更接近这个世界的“道”所在。<br />
            <br />
            要知道，比起失败，成功永远是小概率事件。努力本身最多帮你扩大你踏入成功的概率，但也只是概率。<br />
            <br />
            海明威说“死在幸福之前最光荣”，选择了用自杀的方式结束所有的不堪，但我们却还选择活着，选择去延续生命，哪怕失败，哪怕不堪。选择接受不公平，选择努力。<br />
            <br />
            <br />
            <b>二、不要去谈什么公平，人生来就是不公平的，但也是公平的。</b><br />
            <br />
            <br />
            <blockquote>
                世界有那么不公平吗？我一生都在研究随机性、实践随机性、憎恨随机性。随着时间的流逝，事情在我眼里变得越来越糟糕，我越来越害怕，对自然感到越来越反感。我越思考我的课题，就看到越多的证据表明我们头脑中的世界与实际中的世界不同。每天早上，世界在我眼中都变得比前一天更具随机性，人类都比前一天受到了更大的愚弄。这变得令人难以忍受。写下这段话让我痛苦，世界令人厌恶。<br />
                <br />
                失败者可能一直是失败者，但胜者可能被某个凭空冒出来的人取代。没有人是安全的。
            </blockquote><br />
            摘抄自 纳西姆·尼古拉斯·塔勒布 的《黑天鹅》<br />
            <br />
            红二、三代的祖辈们在战争年代诸位的祖辈避难时，脑袋别在裤腰带上闹革命，轻则身亡，重则族灭；富二代的爹地们，在诸位的父母吃大锅饭时，已经选择了抛弃安稳博得一生。<br />
            <br />
            你看，人生就是这么不公平，也是公平的，所以大多数人真的不该去抱怨没投个好胎，<b>你的家族未曾冒莫大的风险，你也就没有资格去享受相应的权利和权力。</b><br />
            <br />
            <br />
            有空去抱怨，不如早点接受这个世界的真实所在。没有破坏秩序的能力和机遇，不如选择遵守秩序并从中得利。<br />
            <br />
            换而言之，从自己的这一代开始拼搏，机会依旧均等，你的子辈可能会变成官二代、富二代。<br />
            <br />
            但也只是可能。<br />
            <br />
            毕竟蒋委员长也是中产的后代，chair mao也是富农的后代，世上没有无缘无故的爱，也没有无缘无故的恨，所有的英雄背后，不止有个伟大的女人，还可能有个伟大的爹。所有成功者的励志书籍，不会告诉你成功者的第一桶黑金从哪起步，所有包装过的奋斗故事，书里没写的往往是最关键的点。<br />
            <br />
            金庸最后才用鹿鼎记封笔，而不是那些努力奋斗的大侠们，难道他只是想讲一个随随便便的故事？<br />
            <br />
            让子弹飞！千万次的穿过你的耳边，你活了下来，于是你的子孙荣耀加身，但请别忘记了那些在你身边倒下的战友们，他们本该有同你一样的荣耀，可他们不过是离耳边的幸运差了几厘米。<br />
            <br />
            我喜欢赵括的故事（<a href="http://zhi.hu/8ODh" class=" wrap external" target="_blank" rel="nofollow noreferrer">为什么赵括熟读兵书却落个纸上谈兵？<i class="icon-external"></i></a>），但赵括只长平一战不幸身死既被定案为纸上谈兵，千古奇冤？不算，我相信历史大浪中被埋没的人不止赵括。<br />
            <br />
            也只能说这是这个社会一贯的对待失败者的态度，成王败寇，失败者，一无是处。<br />
            <br />
            赵括非无能也，时不予也。<br />
            <br />
            向使当初身便死,一生真伪复谁知?<br />
            <br />
            创业更是如此，相信知乎上诸多的创业者也有相同的体会，努力了，拼搏了，失败了。请去体谅你身边的考研失败者，创业失败者，他们不是不努力，只可能他们没抓到那只黑天鹅。<br />
            <br />
            <br />
            <b>三、努力的意义何在</b><br />
            <br />
            太多人搞错了努力的意义了。<br />
            <br />
            我们从小受的教育便是，你努力了，就能考取好分数，你努力了，就能考取好大学，你努力了，就能找到好工作。<br />
            <br />
            <b>我们从小受的所有教育都是，只要努力，会有相应的对等回报。</b><br />
            <br />
            <b>可却从来没人会告诉你生活的真相是，你努力了，不一定有任何回报。</b><br />
            <br />
            <br />
            于是等你工作了，恋爱了，结婚了，生子了，才发现：很多努力，是没有结果的。<br />
            <br />
            <br />
            <br />
            <br />
            追女神，女神就一定要理你吗？<br />
            <br />
            坚持不懈的工作就能荣登CEO嘛？<br />
            <br />
            日夜祈祷就能世界和平了吗？<br />
            <br />
            援建西北，西北就会富裕起来吗？<br />
            <br />
            你爱世人，世人就一样会爱你吗？<br />
            <br />
            <br />
            <br />
            <br />
            人生来的资源、人自身的天赋本就是不平等了，在不平等的基础上去努力，只能说尽吾志而无悔。<br />
            <br />
            够直白了吗？诸位是A还是B呢？<br />
            <br />
            是诸位不够努力吗？<br />
            <br />
            还是说，诸位弄错了<b>努力的目的，成功的意义。</b><br />
            <br />
            <br />
            <b>太多人把成功等同于高学位、赚大钱，开上市公司了。</b><br />
            <br />
            <br />
            <b>等同于通过努力获取相应的物质回报了。</b><br />
            <br />
            <br />
            这才是症结所在，也是这个社会浮躁的病原。<br />
            <br />
            我最近倒是非常喜欢这句话，“所谓的创业，不过是在成就事业的过程中，不断地修正自身的缺点。”<br />
            <br />
            诸位首先就忘记了，自己首先是个<b>人，</b>在做人的基础上，学习、工作、努力，更多的回报不会直接回馈到物质上，但会多多少少回馈在自己身为人这件事本身。<br />
            <br />
            说的庸俗点，你请一位朋友吃饭，不会指望他马上帮你什么，也可能请一百次，只是认识个狗肉朋友。<br />
            <br />
            但至少你知道了，下次遇到事情，该请谁吃饭了，该认识什么样的人了。<br />
            <br />
            要学会的不是在某件事上成功的办法，而是在所有事上正确的处理办法。<br />
            <br />
            <br />
            <blockquote>
                如果你已经精通了剑法的精髓，那么当你能击败一个对手时，你就能击败千万个对手，击败一个对手的技法和击败千万人的技法没什么不同。<br />
            </blockquote><br />
            <blockquote>
                要想时刻使自己的内心世界处理清静开阔和状态，站在一个更高的角度去考虑问题，就需要时时擦拭我们的心智。我们的心智修炼要能够明辨是非善恶，认识事物的本质。<br />
            </blockquote><br />
            摘自 宫本武藏《五轮书》<br />
            <br />
            其实通过“努力”，我们在修炼的，是双重的生活，不止外在的物质生活，更是自己内心的精神生活。<br />
            <br />
            让自己这个人本身，更完善，至真至美，而不是说努力了，做一件事，就要成功一件事。成功是有条标线的，一分钱难倒英雄汉，可能真的就是几尺之距，你错过了成功。毕竟谬之毫厘，失之千里。<br />
            <br />
            而对自我的修炼不是，一分既是一分，一毫既是一毫，都记在叫做人生这笔账上。<br />
            <br />
            没有人是一辈子在成功的，但是有人一辈子在失败。但你不能说，他没努力。<br />
            <br />
            而如果当有一天诸位能意识到，不要去以成败作为唯一衡量的标准时。你会发现你努力了多少都会体现在自我人性的淬炼上，自我人生的完善上。<br />
            <br />
            你会发现自己不是个那么失败的人。<br />
            <br />
            所以诸位该努力生活的生活，该努力工作的工作，但请不要抱着努力了就会有相应的回报的心态。毕竟成功与否，你能决定一部分，但其他的部分就不是单纯靠努力能决定的了。<br />
            <br />
            但是只是想想你努力过了，尽吾志而无悔，还不够吗？<br />
            <br />
            想想你努力过了，<b>总会在自我的人格完善上、人性完善上，有所体现，总会在自己作为一个人的本质上，有所体现，总会在自我人生的总账上，有所体现。</b><br />
            <br />
            还不够吗？<br />
            <br />
            最后用史上最失败导演艾德伍德电影里的一句话结束本文吧。<br />
            <br />
            <blockquote>
                家？我没有家。被追捕，被蔑视，活的就像个动物，丛林就是我的家。但是我还是要展示给这个世界，我能成为主人。我能使我这一族的人更加完美。原子超人，他们将统制世界。<br />
            </blockquote>————贝拉·卢格斯<br />
            <br />
            <br />
            <br />
            <b>愿世界给失败以宽容，给失败者以温情。</b><br />
            <br />
            <br />
            <br />
            <br />
            <b>----------------------------end------------------------------</b><br />
            <br />
            <br />
            <br />
            <br />
            <br />
            致评论区的质疑：<br />
            <br />
            我年纪还轻，阅历不深的时候，我父亲教导过我一句话，我至今还念念不忘。 “每逢你想要批评任何人的时候， ”他对我说，“你就记住，这个世界上所有的人，并不是个个都有过你拥有的那些优越条件。”<br />
            <br />
            ——菲茨杰拉德《了不起的盖茨比》
            <p>
                <a href="http://www.zhihu.com/question/25338130/answer/30784060">知乎原文</a>
            </p>
        </div>

    </div>


</body>
</html>
